html,body
{
	font-family: "Microsoft YaHei";
}
.container
{
	width: 100%;
	padding: 0;
}
.row
{
	margin: 0;
}
.header-background
{
	background: url("../images/h_bg.png") 0,0,no-repeat;
}
.header-top
{
	border-bottom: 1px solid #755c38;
}
.header-top .navbar-nav>li>a
{
	display: block;
	height: 60px;
	box-sizing: content-box;
	line-height: 60px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	background: transparent!important;
}
.header-top .navbar-nav>li>a.active
{
	color: #ff9600!important;
	font-weight: bold;
}

.header-top .navbar-nav>li>a.active>span
{
	border-bottom: 2px solid #ff9600;
}
.header-search .jumbotron
{
	border-radius: 0!important;
	margin: 0;
	background: none;
}
.header-search .jumbotron-center
{
	margin: 60px auto;
}
.jumbotron-center
{
	width: 50%;
	text-align: center;
	color: #fff;
}
.jumbotron-center .input-group> *
{
	padding: 12px!important;
	background: #fff;
}
.jumbotron-center>h2
{
	font-weight: normal!important;
	font-family: "宋体";
}
.jumbotron-center .input-group .form-control
{
	height: 100%;
	border-right: 1px solid transparent!important;
}
.jumbotron-center .input-group .input-group-addon.end
{
	padding: 6px 12px!important;
}
.jumbotron-center .input-group .start  .glyphicon
{
	font-size: 12px!important;
}
.jumbotron-center .input-group .input-group-addon.end i
{
	font-size: 20px;
	color: #ff9600;
}
.nav-center
{
	background: #fff;
}
.nav-center  .nav-center-cl
{
	margin: 0 auto;
	width: 65%;
}
.nav-center  .nav-center-cl>div
{
	text-align: center;
	margin:60px 0;
}
.nav-center  .nav-center-cl p{
	margin: 10px 0;
}
.nav-center  .nav-center-cl i
{
	color: #ff9600;
	font-size: 2.5em;
}

.book-list .jumbotron
{
	padding: 30px 100px;
	border-radius: 0!important;
}
.jumbotron h2
{
	text-align: center;
	font-weight: normal;
	font-family: "宋体";
}
.jumbotron .underline
{
	border: 1px solid #ff9600;
	width: 60px;
	margin: 0 auto;
}
.book-list .book
{
	margin-top: 30px;
}
.book-list .jumbotron .caption > *
{
	text-align: center;
}
.book-list .jumbotron .caption > h6
{
	color: #ddd;
}
.book-list .jumbotron .thumbnail
{
	border:0;
}
.book-list .jumbotron
{
	margin: 0;
	padding-bottom: 18px;
}
.book-list .book .col-md-3
{
	width: 20%;
	padding: 0 6px;
}
.book-list-bottom
{
	text-align: center;
	margin: 0 auto;
}
.book-list-bottom .pagination li a
{
	background: transparent;
	border: 0;
	font-weight: 500;
	font-size: 15px;
	color: #999;
}
.book-list-bottom .pagination
{
	margin: 5px 0;
}
.book-list-bottom .pagination li .label
{
	line-height: 20px;
	border-radius: 3em;
	font-size: 10px;
	padding:3px 20px;
}
.pagination>.active>a:hover,.pagination>.active>a:focus,.book-list-bottom .pagination li a:hover
{
	background: transparent;
}
.hot-book .jumbotron ,.read-ability .jumbotron
{
	background: #fff;
	border-radius: 0;
	margin-bottom: 0;
}
.micro-classroom .jumbotron
{
	margin-bottom: 0;
	border-radius: 0;
}
.hot-book .jumbotron .book-commend,.read-ability .read-ability-center
{
	margin: 0 auto;
	width: 80%;
	margin-top: 30px!important;
}
.hot-book .jumbotron .book-commend ul.list-group
{
	border: 1px solid #dddddd;
	padding: 30px;
}
.hot-book .jumbotron .book-commend  .list-group-item
{
	border:  0;
}
.hot-book .jumbotron .book-commend  .list-group-item h3
{
	margin: 5px;

}
.hot-book .jumbotron .book-commend  .list-group-item .badge
{
	background: transparent;
	border: 1px solid #999;
	color: #999;
	font-weight: normal;
	margin-top: 10px;
}
.hot-book .jumbotron .book-commend  .list-group-item .col-md-3
{
	padding: 0 1px;
	width: 16.6%;
}
.hot-book .jumbotron .book-commend  .list-group-item .col-md-3 .thumbnail
{
	margin: 0;
	border: 1px solid #f6f6f6;
}
.micro-classroom .jumbotron .row,.read-ability .jumbotron .row
{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30px;
}
.micro-classroom .micro-classroom-right h3
{
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	font-family: "宋体";
	margin: 30px 0;
}
.micro-classroom .micro-classroom-right h3 i
{
	padding-top: 2px;
	font-size: 28px;
	color: #ff9600;
}
.micro-classroom .micro-classroom-right p
{
	font-size: 14px;
}
.read-ability .read-ability-center h5
{
	border-left: 2px solid #ff9600;
	padding-left: 5px;
	font-weight: bold;
	margin: 15px 0;
	font-size: 16px;
}
.read-ability .read-ability-center p
{
	font-size: 14px;
}
.drifting-books .jumbotron
{
	border-radius: 0;
	margin: 0 auto;
}
.drifting-books .drifting-books-center
{
	width: 100%;
	margin-top: 30px;
}
.drifting-books .drifting-books-center img
{
	margin-left: 25%;
}
.row.footer
{
	position: relative;
	background: #323232;
	padding: 30px 60px;
	font-size: 15px;
}
.row.footer .footer-center
{
	margin: 0 auto;
	width: 80%;
}
.row.footer .footer-center>div
{
	text-align: left;
	width: 20%;
	color: #fff;
}
.row.footer .icp
{
	position: absolute;
	color: #939393;
	top:60%;
	left:40%;
}
.modal .modal-dialog
{
	margin-top: 10%;
	width: 300px;
}
.modal .modal-dialog .modal-content
{
	border-radius: 0!important;
}
.modal .modal-dialog .modal-title
{
	text-align: center;
}
.modal .modal-dialog .modal-title i
{
	font-size: 16px;
}
.modal .modal-dialog .modal-body label
{
	font-weight: normal;
}
.modal .modal-dialog .modal-body input
{
	border-radius: 0;
}
.modal .modal-dialog .modal-body .label-right
{
	float: right;
}
.modal .modal-dialog .modal-body .label-right a
{
	color: #ff9600;
	text-decoration:underline
}
.modal .modal-dialog .modal-body .login_in
{
	margin: 0 auto;
	width: 70%;
}
.modal .modal-dialog .modal-body .login_in .btn
{
	border-radius: 2em;
}
.modal .modal-dialog .modal-body>p
{
	text-align: center;
	color: #999999;
}
hr
{
	border: 1px solid #eee;
	padding: 0 15px;
}
.modal .modal-dialog .modal-body .send_code
{
	border-radius: 0;
	background: #ff9600;
	color: #ffffff;
}
.container .header-background-2
{
	background: transparent;
}
.container .header-background-2 .header-top .navbar-nav>li>a
{
	color: #000000;
}
.container .header-background-2 .header-top
{
	border: 0;
}
.header-background-2 .search
{
	width: 30%;
	height: auto;
}
.header-background-2  .search
{
	margin-top: 25px;
	margin-left: 10%;
}
.my-grid .jumbotron
{
	padding-top: 0;
	background: #ffffff;
	margin: 0;
}
.my-grid .row
{
	margin: 0 auto;
	width: 80%;
}
.goods-attribute
{
	margin-top: 25px;
}
.goods-attribute .col-md-8  .col-md-12 h2
{
	text-align: left;
	border-left: 3px solid #ff9600;
	padding-left: 10px;
	margin: 0 0 0px 0;
	font-weight: normal;
}
.list-group
{
	list-style: none;
}
.goods-attribute  .list-group a
{
	color: #666;
	text-decoration: underline;

}
.goods-attribute  .list-group li
{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}
.goods-attribute .jumbotron .col-md-4
{
	width: 305px;
}
.goods-attribute .jumbotron .col-md-4 p
{
	font-size: 12px;
	margin: 10px 0;
}
.add-book .jumbotron .col-md-12,.book-organization .jumbotron .col-md-12
{
	border: 1px solid #d6d6d6;
	padding: 30px 15px;
	margin-bottom: 15px;
}
.add-book .jumbotron .col-md-8 p
{
	font-size: 14px;
	margin: 3px;
}

.add-book .jumbotron .col-md-4
{
	padding-right: 10%;
	text-align: right;
}
.add-book .jumbotron .col-md-4 span
{
	margin-top: 10px;
	display: block;
	padding: 10px 15px;
	border: 1px solid #dddddd;
	border-radius: 1em;
	color: #000;
	font-size: 16px;
	background: transparent;
	font-weight: normal;
	width: 150px;
	float: right;
}
.add-book .jumbotron .col-md-4 span.active
{
	background: #ff9600;
	color: #ffffff;
}
.book-organization  .row>h3
{
	font-size: 18px;
	margin-bottom: 20px;
}
.book-organization  .row .col-md-12 h3
{
	margin-top: 0;
	font-size: 14px;
}
.book-organization  .row .col-md-12
{
	padding: 30px;
}
.book-organization-up ul li
{
	list-style: none;
	float: left;
	padding: 10px;
	text-align: center;
	margin-left: 30px;
}
.book-organization-up ul li img
{
	border-radius: 3em;
}
.book-organization-up ul li p
{
	font-size: 13px;
	color: #999999;
}
.book-organization-up ul:after
{
	content:".";
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
}
.book-organization .cut-off
{
	width: 100%;
	border-bottom: 1px  solid #d6d6d6;
	margin-bottom: 20px;
}

.book-organization .check-all
{
	text-align: center;
}
.book-organization .check-all span
{
	padding: 5px  18px;
	background: #ff9600;
	color: #fff;
	border-radius: 3em;
}
.book-detail .row
{
	margin-bottom: 15px;
}
.book-detail .bg-primary-2
{
	font-size: 14px;
}
.book-detail .bg-primary
{
	background: transparent;
	color: #000000;
	font-size: 18px;
	padding-bottom: 10px;
	border-bottom: 1px solid #f1f1f1;
	margin: 10px 0;
}
.book-detail .bg-primary span
{
	float: right;
	font-size: 12px;
	color: #999999;
}
.book-detail  .col-md-1
{
	padding: 0;
}
.book-detail  .col-md-1 img
{
	border-radius: 3em;
}
.book-detail  .col-md-1 h6
{
	color: #ff9600;
}
.book-detail .bg-primary-3
{
	margin: 0;
}
.book-detail .text-right
{
	margin-bottom: 25px;
}
.post-comment .post-panel
{
	padding: 20px 5px;
	background: #eee;
	margin-bottom: 30px;
}
.post-comment .col-md-9
{
	height: 120px;
	background:#fff;
	padding: 15px;
	color: #999;
}
.post-comment .col-md-3
{
	text-align: center;
	line-height: 120px;
}
.post-comment .col-md-3 span
{
	background: #ff9600;
	color: #fff;
	font-size: 16px;
	height: 35px;
	width: 150px;
	display: block;
	line-height:35px ;
	border-radius: 3em;
	float: right;
	margin-top: 35px;
}
.comment>.col-md-12
{
	padding: 0;
	border-bottom: 1px solid #f6f6f6;
	margin-bottom: 20px;
}
.comment .col-md-12 .comment-avatar
{
	height: 55px;
	line-height:55px;
}
.comment .col-md-12 .comment-avatar img
{
	height: 100%;
	width: 55px;
	border-radius: 55px;
	margin-right: 20px;
}
.comment .col-md-12 .comment-avatar .fl-right
{
	float: right;
	color: #999;
}
.comment .col-md-12>p
{
	font-size: 14px;
	margin: 15px 0 0 0;
}
.comment .col-md-12 .comment-avatar-2 .good
{
	padding: 3px 15px;
	border: 1px solid #999999;
	border-radius: 1em;
	margin-right: 10px;
}
.comment .col-md-12 .comment-avatar-2 .good i
{
	color: #ff9600;
}
.comment .col-md-12 .comment-avatar-2 .fl-right-response
{
	float: right;
	display: block;
	box-sizing: content-box;
	height: 26px;
	margin-top: 15px;
	padding:  0 15px;
	line-height:26px!important;
	border: 1px solid #999999;
	border-radius: 1em;
	margin-right: 10px;
}
.carousel  .carousel-inner img
{
	height: 300px;
}
.carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right
{
	position:absolute;
	top:46%;
	z-index:5;
	display:inline-block;
	font-size: 2em;
}
.carousel .nav-on-carousel
{
	position: absolute;
	width: auto;
	height: 100%;
	top: 0;
	left: 150px;
}
.carousel .nav-on-carousel .nav-on-carousel-up
{
	padding-top: 10px;
}
.carousel .nav-on-carousel .nav-on-carousel-up span
{
	background: #f6f6f6;
	color: #000000;
	border-radius: 5px;
	font-weight: normal;
	margin: 0 6px;
}
.carousel .nav-on-carousel .nav-on-carousel-down
{
	position: absolute;
	bottom: 10px;
	text-align: center;
	left: 0;
	right: 0;
	font-size: 14px;
}
.carousel .nav-on-carousel .nav-on-carousel-down span
{
	padding: 7px 30px;
	border-radius: 2em;
	font-weight: normal;
    color: #000;
	background: #f6f6f6;
	font-size: 14px;
}
.carousel .nav-on-carousel .nav-on-carousel-down span i{
	color: #ff9600;
}
.museum-tab
{
	border-bottom: 1px solid #f6f6f6;
}
.museum-tab >h4
{
	margin: 30px;
}
.museum-tab .jumbotron
{
	padding-bottom: 0;
	margin-bottom: 0;
}
.museum-tab .jumbotron .nav-pills  li a
{
	color: #999;
	padding: 10px 2px;
	margin: 0 28px;
	border-radius: 0;
}
.museum-tab .jumbotron .nav-pills  li a.active
{
	border-bottom: 2px solid #ff9600;
}
.book-attribute-subscribe
{
	margin-left: 15px;
	padding: 8px 20px;
	color: #fff;
	border-radius: 2em;
	float: left;
	background: #ff9600;
}
.post-panel2
{
	margin-bottom:0!important;
}
.book-organization2 .row >.col-md-12
{
margin-bottom: 0;
}
.book-organization2 ul>li>p
{
margin-bottom: 0;
}
.book-organization2 .book-organization-up ul
{
	padding-left: 0;
}
.book-detail2 .jumbotron
{
	padding-bottom: 0;
}
